.loginDivClass{
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 7em;
    margin-left: 12em;
    margin-top: 13em;
    flex-direction: column;
    border-radius: 0.5em;
    border-style: groove;
    border-width: 0.5px;
    padding: 3em;
    background-color: rgb(20, 158, 101);
}

input, button{
    border-radius: 0.5em;
     width: 20em;
     height: 3em;
}