<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimbursementManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>upload.location</param-name>
    <param-value>F:/1-25-2021-msa/project/reimbursement_management/images</param-value>
  </context-param>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.revature.controller.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- CORS filter removed: the frontend (HTML/JS/CSS) is served by this same WAR,
       so every request is same-origin and no CORS headers are needed. The previous
       wildcard (Access-Control-Allow-Origin: *) let any site call this API and was
       unnecessary. If a separately hosted client is ever added, reintroduce CORS
       scoped to that specific origin with credentials configured - never a wildcard. -->
  <filter>
    <display-name>EmployeeFilter</display-name>
    <filter-name>EmployeeFilter</filter-name>
    <filter-class>com.revature.controller.EmployeeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmployeeFilter</filter-name>
    <url-pattern>/app/employee/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.revature.controller.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ManagerFilter</display-name>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>com.revature.controller.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/app/manager/*</url-pattern>
  </filter-mapping>
</web-app>